{| class="wikitable sortable mw-collapsible{% if collapse == true %} mw-collapsed{% endif %}" style="width:70%;"
|-
! colspan="7" | Variants
|-
! Id
! Name
! Capacitors
! Vents
! Hullmods
! Weapons & Fighters
! Notes
{% for variant in variants %}
|-
| {{ variant.variant_id }}
| {{ variant.display_name }}
| {{ '{{' }}TextColor|{{ variant.flux_capacitors }}{{ '}}' }}
| {{ '{{' }}TextColor|{{ variant.flux_vents }}{{ '}}' }}
|
{%- for mod in variant.hull_mods %}
* [[{{ mod }}]]
{%- endfor %}
|
{%- for weapon_name, count in variant.consolidated_weapons.items() %}
* {{ count }}x [[{{ weapon_name }}]]
{%- endfor %}
| {{ variant.notes }} {% endfor %}
|}
